<ngx-spinner></ngx-spinner>

<div class="container mb-4">
    <table class="table table-hover">
        <thead class="table-info">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
            let u of user
              | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total }
          " class="table-active">
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{u.email}}</td>
                <td class="text-center">
                    <a (click)="SelectedUser(u.id)">
                        <i class="material-icons btn-outline-primary ">remove_red_eye</i>
                    </a>
                    <a (click)="deleteUser(u.id,i)">
                        <i class="material-icons btn-outline-primary">delete</i>
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="p = $event">...</pagination-controls>
    </div>

</div>